<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.board.mvc01.mapper.MemberMapper">

	<select id="memRegisterChk" parameterType="string" resultType="kr.board.mvc01.entity.Member">
		SELECT *
		FROM mem_tbl 
		WHERE memID = #{memID}
	</select>
	
	<insert id="memberRegister" parameterType="kr.board.mvc01.entity.Member">
 		INSERT INTO mem_tbl(memID,memPassword,memName,memAge,memGender,memEmail,memProfile)
 		values(#{memID},#{memPassword},#{memName},#{memAge},#{memGender},#{memEmail},#{memProfile})
	</insert>
	
	<select id="chkLogin" parameterType="kr.board.mvc01.entity.Member" resultType="kr.board.mvc01.entity.Member">
		SELECT *
		FROM mem_tbl 
		WHERE memID=#{memID} AND memPassword = #{memPassword}
	</select>
	
	<delete id="boardDelete" parameterType="int">
		DELETE FROM myboard WHERE idx = #{idx}
	</delete>
	
	<update id="boardUpdate" parameterType="kr.board.mvc01.entity.Board">
		UPDATE myboard SET
			TITLE = #{title},
			CONTENT = #{content}
		WHERE idx = #{idx}
	</update>

</mapper>